<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>speedtrap.io</title>
        <link rel="stylesheet" href="static/css/speedtrap.css">
        <link rel="icon" href="static/images/icons/favicon-32.png" sizes="32x32">
        <link rel="icon" href="static/images/icons/favicon-57.png" sizes="57x57">
        <link rel="icon" href="static/images/icons/favicon-76.png" sizes="76x76">
        <link rel="icon" href="static/images/icons/favicon-96.png" sizes="96x96">
        <link rel="icon" href="static/images/icons/favicon-128.png" sizes="128x128">
        <link rel="icon" href="static/images/icons/favicon-192.png" sizes="192x192">
        <link rel="icon" href="static/images/icons/favicon-228.png" sizes="228x228">
    </head>
    <body>
        <div class="login-box auth0-box before">
            <a class="btn btn-primary btn-lg btn-login btn-block" href="/login">Log In</a>
        </div>

        <div class='flex-table'>
            <table>
                <tr>
                    <th>Fast.com Average</th>
                    <th>Speedtest.net Average</th>
                    <th>Turnkey Average</th>
                    <th>Ookla Average</th>
                </tr>
                <tr>
                {% for test in stats %}
                    <td>{{(stats[test]['avg'] / 1000000) | round(2)}}</td>
                {% endfor %}    
                </tr>
            </table>
            <table> 
                <tr>
                    <th>Timestamp</th>
                    <th>Fast.com</th>
                    <th>Speedtest.net</th>
                    <th>Turnkey</th>
                    <th>Ookla</th>
                </tr>
            {% for result in data %}
                <tr>
                {% for key in result %}
                    <td>{{result[key]}}</td>
                {% endfor %}
            {% endfor %}
                </tr>
            </table>
        </div>
    </body>
</html>
